@use "reset";
@use "media-query" as media;

@font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url(../fonts/Montserrat-Medium.otf)
  }

  @font-face {
    font-family: "Scope One";
    src: url(../fonts/ScopeOne-Regular.ttf);
  }

body{
    background-color: #fff;

    a{
        text-decoration: none;
    }
    nav{
        display: flex;
        justify-content: space-between;

        
        background-image: url("../images/navbackground.svg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 80%;

        @include media.xs{
            background-size: cover;
            background-position: top center;
            height: 35vw;
            justify-content: flex-end;
            flex-wrap: wrap;
            
            
            

        }


        @include media.sm{
            background-size: cover;
            background-position: top center;
            height: 25vw;
            justify-content: flex-end;
            flex-wrap: wrap;
            
            
            

        }

        .logo-hamburger{
            display: flex;
            flex-direction: row;
            align-items: center;

            @include media.xs{
                margin-top: 1rem;
                background-color: #fff;
                height: 10vh;

                justify-self: flex-end;
                border-radius: 50px 0 0 50px;
                
            }

            @include media.sm{
                margin-top: 2rem;
                background-color: #fff;
                height: 10vh;

                justify-self: flex-end;
                border-radius: 50px 0 0 50px;
                
            }


            img{
                width: 15rem;
                margin-left: 2rem;

                @include media.xs{
                    width: 5rem;
                }
    
                @include media.sm{
                    width: 5rem;
                }
    
                @include media.md{
                    width: 12rem;
                }
    
            }
    
            #hamburger{
                display: none;
                font-size: 3rem;
                margin: 1rem;
                color: #BC2026;
    
    
                @include media.xs{
                    display: block;
                }
    
                @include media.sm{
                    display: block;
                }
            }
        }


        .nav-wrapper{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100vw;
            height: 15vw;
            margin-top: -2rem;





            


            #nav-items{
                display: flex;
                background-color: #fff;
                width: 90%;
                justify-content: space-around;
                margin-bottom: 3rem;


                @include media.xs{
                    flex-direction: column;
                    justify-content: unset;
                    align-items: flex-end;
                    width: 25%;
                    margin-bottom: 0rem;
                    margin-top: 15rem;
                    z-index: 1;
                    
                }


                @include media.sm{
                    flex-direction: column;
                    justify-content: unset;
                    align-items: center;
                    width: 25%;
                    margin-bottom: 0rem;
                    margin-top: 15rem;
                    z-index: 1;
                }

                a{
                    margin: 2rem;
                    font-family: "Scope One";
                    color: #BC2026;
                    font-size: 1.25rem;

                    @include media.xs{
                        font-size: .8rem;
                        width: 100%;
                        margin: 0rem;
                        padding: 1rem;
                        border-bottom: 1px solid #BC2026;

                    }

                    @include media.sm{
                        margin: 0rem;
                        padding: 1rem;
                        text-align: right;
                        border-bottom: 1px solid #BC2026;
                        width: 100%;

                    }

                   

                    @include media.md{
                        font-size: 1rem;
                    }

                    

                }
            }
        }
    }

    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @include media.xs{
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;
        }

        @include media.sm{
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;
        }

        img{
            
            width: 43rem;
            position: absolute;
            margin-left: -3rem;
            margin-top: 8rem;

            @include media.xs{
                position: relative;
                width: 20rem;
                margin: 0rem;
                margin-left: -1rem;
                overflow: hidden;
            }

            @include media.sm{
                position: relative;
                width: 40rem;
                margin: 0rem;
                margin-left: -5rem;
                overflow: hidden;
            }

            @include media.md{
                width: 35rem;
            }
        }
        .hero-info{
            grid-column-start: 2;
            padding-top: 8rem;
            padding-bottom: 15rem;
            text-align: right;
            width: 80%;

            @include media.xs{
                margin-top: -1rem;
                padding-top: 0rem;
                padding-bottom: 3rem;
                grid-column-start: 1;
                text-align: center;
                width: 90%;
            }

            @include media.sm{
                margin-top: -2rem;
                padding-top: 0rem;
                padding-bottom: 3rem;
                grid-column-start: 1;
                text-align: center;
                width: 90%;
            }

            @include media.md{
                width: 90%;
            }
            h1{
                font-family: "Scope One";
                color: #BC2026;
                font-size: 5rem;


                @include media.xs{
                    font-size: 3rem;
                }

                @include media.sm{
                    font-size: 4rem;
                }
            }
            p{
                font-size: 1rem;
                font-family: "Montserrat";
            }
            button{
                margin-top: 2rem;
                font-size: 1.5rem;
                align-self: center;
                width: 100%;
                text-decoration: none;
                font-family: "Scope One";
                padding: 1.5rem;
                background-color: #BC2026;
                color: #fff;
                border: none;
                border-radius: 50px;

                @include media.xs{
                    width: 90%;
                    margin-top: 1rem;
                    font-size: .9rem;
                    padding: .75rem;
                }

                @include media.sm{
                    width: 90%;
                }
            }
        }
    }

    .what-i-do{
        height: 120vh;
        background-color: #00AEEF;
        padding-top: 3rem;

        @include media.xs{
            height: auto;
        }

        h2{
            margin-top: 7rem;
            text-align: right;
            color: #fff;
            font-family: "Scope One";
            font-size: 5rem;
            margin-right: 5rem;

            @include media.xs{
                font-size: 3rem;
                margin-right: 0rem;
                text-align: center;
            }

            @include media.sm{
                text-align: center;
                margin-right: 0rem;
                font-size: 4rem;
            }
            
        }

        .specialties-container{
            
            width: 100vw;
            height: 35vw;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;

            @include media.xs{
                grid-template-columns: 1fr;
                height: auto;
                justify-items: auto;
            }

            @include media.sm{
                grid-template-columns: 1fr;
                height: auto;
            }

            @include media.md{
                grid-template-columns: 1fr 1fr;
                height: 90vh;
            }

            .down{
                margin-top: 5rem;

                @include media.xs{
                    margin-top: 0rem;
                }

                @include media.sm{
                    margin-top: 3rem;
                }

                @include media.md{
                    margin-top: 3rem;
                }

                
            }

            .up{
                margin-bottom: 5rem;

                @include media.sm{
                    margin-bottom: 0rem;
                }

                @include media.sm{
                    margin-bottom: 3rem;
                }

                @include media.md{
                    margin-bottom: 3rem;
                }
            }

            .inner-container{
                text-align: center;


                .shape-wrapper-1{
                    background-image: url("../images/shapes-1.svg");
                    width: 23rem;
                    height: 23rem;
                    background-size: cover;

                    @include media.sm{
                        width: 25rem;
                        height: 25rem;
                    }

                    @include media.md{
                        width: 17rem;
                        height: 17rem;
                    }
                }
                .shape-wrapper-2{
                    background-image: url("../images/shapes-2.svg");
                    width: 23rem;
                    height: 23rem;
                    background-size: cover;

                    @include media.sm{
                        width: 25rem;
                        height: 25rem;
                    }
                    
                    @include media.md{
                        width: 17rem;
                        height: 17rem;
                    }
                }
                .shape-wrapper-3{
                    background-image: url("../images/shapes-3.svg");
                    width: 23rem;
                    height: 23rem;
                    background-size: cover;

                    @include media.sm{
                        width: 25rem;
                        height: 25rem;
                    }

                    @include media.md{
                        width: 17rem;
                        height: 17rem;
                    }
                }
                .shape-wrapper-4{
                    background-image: url("../images/shapes-4.svg");
                    width: 23rem;
                    height: 23rem;
                    background-size: cover;

                    @include media.sm{
                        width: 25rem;
                        height: 25rem;;
                    }

                    @include media.md{
                        width: 17rem;
                        height: 17rem;
                    }

                }

                img{
                    background-color: transparent;
                    width: 20rem;
                    height: 20rem;

                    @include media.sm{
                        width: 22rem;
                        height: 22rem;
                    }

                    @include media.md{
                        width: 18rem;
                        height: 18rem;
                    }
                }

                p{
                    margin-top: -2rem;
                    font-family: "Montserrat";
                    font-size: 1.25rem;
                    color: #fff;

                    @include media.sm{
                        margin-top: -1rem;
                        font-size: 2rem;
                    }

                    @include media.md{
                        margin-top: 0rem;
                    }

                }
            }
        }
    }

    .my-work{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        background-color: #00AEEF;
        height: 120vh;

        @include media.xs{
            height: auto;
        }

        @include media.sm{
            height: auto;
        }

        h2{
            margin-top: 7rem;
            align-self: flex-start;
            text-align: left;
            color: #fff;
            font-family: "Scope One";
            font-size: 5rem;
            margin-left: 5rem;

            @include media.xs{
                font-size: 3rem;
                margin-left: 0rem;
                text-align: center;
                align-self: center;
            }

            @include media.sm{
                align-self: center;
                text-align: center;
                margin-left: 0rem;
                margin-top: 3rem;
                margin-bottom: 1rem;
                font-size: 4rem;
                
            }
            
        }

        .grid-container{
            align-self: center;
            display: grid;
            width: 70%;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(2, 23rem);
            gap: 1rem;

            @include media.xs{
                width: 80%;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
            }

            @include media.sm{
                width: 80%;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }

            .img-01{
                grid-column-start: 1;
                grid-column-end: 3;

                @include media.xs{
                    grid-column: auto;
                    grid-row-start: 1;
                }

                @include media.sm{
                    grid-column: auto;
                }
                
            }

            .img-02{
                grid-column-start: 3;
                grid-column-end: 8;

                @include media.xs{
                    grid-column: auto;
                    grid-row-start: 2;
                }

                @include media.sm{
                    grid-column: auto;
                    grid-row-start: 2;
                }
            }

            .img-03{
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 5;

                @include media.xs{
                    grid-column: auto;
                    grid-row-start: 3;
                }

                @include media.sm{
                    grid-column: auto;
                    grid-row-start: 3;
                }
            }

            .img-04{
                grid-row-start: 2;
                grid-column-start: 5;
                grid-column-end: 8;

                @include media.xs{
                    grid-column: auto;
                    grid-row-start: 4;
                }
                

                @include media.sm{
                    grid-column: auto;
                    grid-row-start: 4;
                }
            }


        }

        

        button{
            margin-top: 2rem;
            font-size: 1.5rem;
            align-self: center;
            width: 100%;
            justify-self: center;
            text-decoration: none;
            font-family: "Scope One";
            padding: 1.5rem;
            padding-left: 5rem;
            padding-right: 5rem;
            background-color: #BC2026;
            color: #fff;
            border: none;
            border-radius: 50px;

            @include media.xs{
                // width: 90%;
                margin-top: 1rem;
                font-size: 1.25rem;
                padding: 1.25rem;
            }

            
        }
    }

    .why-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        background-color: #00AEEF;
        height: 100vh;

        @include media.xs{
            height: auto;
        }

        @include media.sm{
            height: auto;
        }

        h2{
            
            align-self: flex-start;
            text-align: left;
            color: #fff;
            font-family: "Scope One";
            font-size: 5rem;
            margin-left: 5rem;

            @include media.xs{
                font-size: 3rem;
                margin-left: 0rem;
                text-align: center;
                align-self: center;

                margin-top: 5rem;
            }

            @include media.sm{
                align-self: center;
                text-align: center;
                margin-left: 0rem;
                margin-top: 6rem;
                margin-bottom: 1rem;
                font-size: 4rem;
                
            }
            
        }

        .flex-container{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;

            @include media.xs{
                flex-direction: column;
            }

            @include media.sm{
                flex-direction: column;
            }


            .down{
                margin-top: 5rem;

                @include media.xs{
                    margin-top: 0rem;
                }

                @include media.sm{
                    margin-top: 3rem;
                }

                @include media.md{
                    margin-top: 3rem;
                }

                
            }

            .up{
                margin-bottom: 5rem;

                @include media.sm{
                    margin-bottom: 0rem;
                }

                @include media.sm{
                    margin-bottom: 3rem;
                }

                @include media.md{
                    margin-bottom: 3rem;
                }
            }



            .inner-container{
                display: flex;
                align-items: center;
                text-align: center;
                margin-left: 3rem;
                margin-right: 3rem;

                @include media.xs{
                    margin: 0rem;
                }

                @include media.sm{
                    margin: 0rem;
                }

                @include media.md{
                    margin-left: .5rem;
                    margin-right: .5rem;

                }

                .reasons{
                    background-color: #fff;
                    width: 18rem;
                    height: 18rem;
                    padding: 1rem;

                    @include media.xs{
                        width: 25rem;
                        height: 25rem;
                    }

                    @include media.sm{
                        width: 35rem;
                        height: 35rem;
                        padding: 3rem; 
                    }

                    @include media.md{
                        width: 15rem;
                        height: 15rem;
                    }

                    h4{
                        font-family: "Scope One";
                        color: #BC2026;
                        font-size: 2rem;
                        @include media.xs{
                            font-size: 2rem;
                        }

                        @include media.sm{
                            font-size: 3rem;
                        }

                        @include media.md{
                            font-size: 1.5rem;
                        }
                    }
                    
                    p{
                        font-family: "Montserrat";
                        padding: 1rem;

                        @include media.xs{
                            font-size: 1.25rem;
                        }

                        @include media.sm{
                            font-size: 1.5rem;
                        }

                        @include media.md{
                            font-size: .8rem;
                        }
                    }
                }
    
    
                .shape-wrapper-1{
                    background-image: url("../images/shapes-1.svg");
                    width: 23rem;
                    height: 23rem;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    @include media.xs{
                        width: 35rem;
                        height: 35rem;
                    }
    
                    @include media.sm{
                        width: 50rem;
                        height: 50rem;
                        
                    }

                    @include media.md{
                        width: 19rem;
                        height: 19rem;
                    }
                }
                .shape-wrapper-2{
                    background-image: url("../images/shapes-2.svg");
                    width: 23rem;
                    height: 23rem;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    @include media.xs{
                        width: 35rem;
                        height: 35rem;
                    }

                    @include media.sm{
                        width: 50rem;
                        height: 50rem;
                        
                    }

                    @include media.md{
                        width: 19rem;
                        height: 19rem;
                    }
                }
                .shape-wrapper-3{
                    background-image: url("../images/shapes-3.svg");
                    width: 23rem;
                    height: 23rem;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden; 

                    @include media.xs{
                        width: 35rem;
                        height: 35rem;
                    }
    
                    @include media.sm{
                        width: 50rem;
                        height: 50rem;
                        
                    }

                    @include media.md{
                        width: 19rem;
                        height: 19rem;
                    }
                }
            }
        }

    }

    .reviews{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        background-color: #00AEEF;
        height: 100vh;

        @include media.xs{
            height: auto;
        }

        @include media.sm{
            height: auto;
        }

        h2{
            
            align-self: flex-start;
            text-align: left;
            color: #fff;
            font-family: "Scope One";
            font-size: 5rem;
            margin-left: 5rem;

            @include media.xs{
                font-size: 3rem;
                margin-left: 0rem;
                text-align: center;
                align-self: center;

                margin-top: 5rem;
            }

            @include media.sm{
                align-self: center;
                text-align: center;
                margin-left: 0rem;
                margin-top: 6rem;
                margin-bottom: 1rem;
                font-size: 4rem;
                
            }
            
        }

        .flex-container{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;

            @include media.xs{
                flex-direction: column;
            }

            @include media.sm{
                flex-direction: column;
            }


            .down{
                margin-top: 5rem;

                @include media.xs{
                    margin-top: 0rem;
                }

                @include media.sm{
                    margin-top: 3rem;
                }

                @include media.md{
                    margin-top: 3rem;
                }

                
            }

            .up{
                margin-bottom: 5rem;

                @include media.sm{
                    margin-bottom: 0rem;
                }

                @include media.sm{
                    margin-bottom: 3rem;
                }

                @include media.md{
                    margin-bottom: 3rem;
                }
            }



            .inner-container{
                display: flex;
                align-items: center;
                text-align: center;
                margin-left: 3rem;
                margin-right: 3rem;

                @include media.xs{
                    margin: 0rem;
                }

                @include media.sm{
                    margin: 0rem;
                }

                @include media.md{
                    margin-left: .5rem;
                    margin-right: .5rem;

                }

                .review-container{
                    background-color: #fff;
                    width: 30rem;
                    height: 18rem;
                    padding: 1rem;

                    @include media.xs{
                        width: 25rem;
                        height: 25rem;
                    }

                    @include media.sm{
                        width: 35rem;
                        height: 35rem;
                        padding: 3rem; 
                    }

                    @include media.md{
                        width: 30rem;
                        height: auto;
                        
                    }

                    h4{
                        font-family: "Scope One";
                        color: #BC2026;
                        font-size: 2rem;
                        @include media.xs{
                            font-size: 2rem;
                        }

                        @include media.sm{
                            font-size: 3rem;
                        }

                        @include media.md{
                            font-size: 1.5rem;
                        }
                    }
                    
                    p{
                        font-family: "Montserrat";
                        padding: 1rem;

                        @include media.xs{
                            font-size: 1.25rem;
                        }

                        @include media.sm{
                            font-size: 1.5rem;
                        }

                        @include media.md{
                            font-size: .8rem;
                        }
                    }
                }
    
    
                .shape-wrapper-1{
                    background-image: url("../images/shapes-1.svg");
                    width: 45rem;
                    height: 25rem;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    @include media.xs{
                        width: 35rem;
                        height: 35rem;
                    }
    
                    @include media.sm{
                        width: 50rem;
                        height: 50rem;
                        
                    }

                    @include media.md{
                        width: 30rem;
                        height: 30rem;
                    }
                }
                .shape-wrapper-2{
                    background-image: url("../images/shapes-2.svg");
                    width: 45rem;
                    height: 25rem;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    @include media.xs{
                        width: 35rem;
                        height: 35rem;
                    }

                    @include media.sm{
                        width: 50rem;
                        height: 50rem;
                        
                    }

                    @include media.md{
                        width: 30rem;
                        height: 30rem;
                    }
                }
                .shape-wrapper-3{
                    background-image: url("../images/shapes-3.svg");
                    width: 23rem;
                    height: 23rem;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden; 

                    @include media.xs{
                        width: 35rem;
                        height: 35rem;
                    }
    
                    @include media.sm{
                        width: 50rem;
                        height: 50rem;
                        
                    }

                    @include media.md{
                        width: 19rem;
                        height: 19rem;
                    }
                }
            }
        }

    }

    
}

.footer{
    background-image: url(../images/footer-01.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00AEEF;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    width: 100vw;
    height: 60vh;

    @include media.xs{
        height: 20vh;
    }

    p{
        margin-top: 15rem;

        @include media.xs{
            margin-top: 0rem;
        }

        @include media.sm{
            margin-top: 8rem;
        }

        @include media.md{
            margin-top: 10rem;
        }
    }

}